<div class="row">
    <div class="team-area col-12 d-flex justify-content-center">
        <div class="card employee-card">
            <div class="card-header">
                <h2 class="card-title card-fullname">{{ name }}</h2>
                <h3 class="card-title"><i class="fas fa-user-graduate mr-2"></i>{{ role }}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <img class="profile-image" src="images/profile-img.jpg">
                    </div>
                    <div class="col-10">
                        <ul class="list-group">
                            <li class="list-group-item"><span class="role-label">ID Number</span> {{ id }}</li>
                            <li class="list-group-item"><span class="role-label">Email Address</span> <a href="mailto:{{ email }}">{{ email }}</a></li>
                            <li class="list-group-item"><span class="role-label">School Name</span> {{ school }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
